
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список тем форума</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Список тем", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout...", "Logoff")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login")</li>
                        <li>@Html.Label(" | ")</li>
                        <li>@Html.ActionLink("Register", "Register")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h3>Список тем форума</h3>
        <table class="raz">
            <tr>
                <td><p>Заглавие</p></td>
                <td><p>Описание</p></td>
                <td><p>Дата создания</p></td>
            </tr>
            @foreach (var p in ViewBag.Posts)
            {
                <tr>
                    <td><p><b>@p.Title</b></p></td>
                    <td><p>@p.Content</p></td>
                    <td><p>@p.Created.ToShortDateString()</p></td>
                </tr>

            }
        </table>
        <hr>
        @if (User.Identity.IsAuthenticated)
        {
            <p><a href="/Home/CreatePosts/@ViewData["ForumId"]">Добвить пост</a></p>
        }

    </div>
    <div class="container body-content">

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>
    <style>
        .raz,
        .raz td {
            border: 1px solid green;
            border-spacing: 1em 0.5em;
            padding: .3em 1em;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
