
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePosts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Список тем", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout...", "Logoff")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login")</li>
                        <li>@Html.Label(" | ")</li>
                        <li>@Html.ActionLink("Register", "Register")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <h3>Форма добавления новой темы</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.ForumId" name="ForumId" />
            <table>
                <tr>
                    <td><p>Введите новую тему </p></td>
                    <td><input type="text" name="Title" /> </td>
                </tr>
                <tr>
                    <td><p>Введите описание темы:</p></td>
                    <td>
                        <textarea name="Description"></textarea>
                    </td>
                </tr>
                <tr><td><input type="submit" value="Создать" /> </td><td></td></tr>
            </table>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
